# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.zip
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Backup Files
*.zip
/15v-supply/Project-specific-libraries/how-to-import.htm
/15v-supply/15v-supply.kicad_sch-bak
/15v-supply/Project-specific-libraries/License.txt
/15v-supply/~15v-supply.kicad_pcb.lck
/15v-supply/#auto_saved_files#
/15v-supply/#auto_saved_files#
